body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #666;
}

.nav {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
}

.btn-container {
  display: flex;
  gap: 16px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #888;
  color:white;
}

img {
  max-width: 50%;
  max-height: 50%;
}

button {
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px 10px 0 0;
}

p {
  max-width: 50%;
}
